html,body{
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family:sans-serif;
}
img{
  border: none;
}


.clearfix {
}

.clearfix:before,.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

a{
  color: #2897C5;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: #eb5422;
}

.zi{
  display: inline-block;
  width: 1em;
}


.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  background-color: #f90;
  *background-color: #f90;
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #FFF;
  background-color: #f60;
  *background-color: #f60;
}

.btn:first-child {
  *margin-left: 0;
}

.btn.disabled,
.btn[disabled] {
  color: #FFF;
  background-color: #ccc;
  *background-color: #ccc;
}

.btn-f90{
  color: #FFF;
  background-color: #f90;
  *background-color: #f90;
}

.btn-f90:hover{
  background-color: #f60;
}


.container{
  width: 1000px;
  margin: auto;
}
