.login-box{
  margin: 20px auto;
  width: 400px;
  padding: 40px 20px;
  border: 1px solid #ebebeb;
  background: #fbfbfb;
}

.login-box .title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  vertical-align: bottom;
  padding-bottom: 20px;
}
.login-box .row{
  margin: 15px 40px 0 40px;
}

.login-box .row input{
  border: 1px solid #e8e8e8;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  width: 100%;
  text-indent: 20px;
}

.login-box .row input[type=button]{
  border: none;
  display: block;
  font-size: 16px;
  color: #FFF;
  text-indent: 0px;
}


