
/************正文区****************/
.post-box{
  float: left;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.title{
  position: relative;
}

.title .title-input{
  display: block;
  width: 700px;
  height: 40px;
  line-height: 40px;
  text-indent: 50px;
  font-size:16px;
  font-weight: bold;
  color: #444;
  border: 1px #d4d4d4 solid;
  padding: 0px;
}
.title .title-label{
  display: block;
  position: absolute;
  z-index:2;
  padding-left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  left: 0px;
  top: 0px;
  color: #aaa;
}

.right-box{
  position: absolute;
  right: 0px;
  top: 90px;
  bottom: 60px;
  width: 260px;
  z-index: 10;
  overflow: hidden;
}

.content{
  margin-top: 20px;
}

.post-bottom{
  margin: 20px 0px;
  width: 700px;
}

.post-btn{
  float: right;
}

#myEditor{
  padding: 20px;
}
