.top-box{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  background: #fbfbfb;
}

.nav-box{
  float: left;
  height: 40px;
  line-height: 40px;
  list-style: none;
  margin: 0;
}
.nav-box>li{
  display: inline-block;
}
.nav-box>li>.divider{
  padding: 0 5px;
  color: #ccc;
}
.nav-box>.active{
  color: #999;
}


.count-box{
  float:right;
  height: 40px;
  list-style: none;
  margin: 0;
}
.count-box>li{
  float: right;
  width: 80px;
  height: 40px;
  border-right: 1px solid #ebebeb;

}

.count-box>li>.title{
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #333;
}
.count-box>li>.num{
  line-height: 20px;
  text-align: center;
  color: #666;
}