.edui-container .um-img{
  max-width:980px;
}

.topic-title h1{
  float: left;
  width: 100%;
  line-height: 35px;
  overflow: hidden;
  font-size: 24px;
  color: #a6551f;
  font-weight: normal;
}

.topic .topic-top{
  border-bottom: #e2e2e2 solid 1px;
}

.topic .topic-top .left{
  float: left;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #999;
  font-size: 12px;
}

.topic .topic-top .right{
  float: right;
  padding-right: 20px;
  height: 50px;
  line-height: 50px;
}



.topic .topic-body{
  padding: 0px 10px;
  margin-top: 20px;
}

.topic .topic-body img{
  max-width:980px;
}


.post-list{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px #f2f2f2 solid;
}

.post-list .post{
  position: relative;
  margin-bottom: 12px;
}

.post-info{
  background: #f2f2f2;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 12px;
}

.post-info .photo{
  float: left;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
  background: #FFF;
  border: 1px #f2f2f2 solid;
  overflow: hidden;
}

.post-info .photo img{
  width: 100%;
}

.post-info .mem{
  float: left;
}

.post-info .other{
  float: right;
  padding-right: 10px;
}
.post-info .date{
  float: right;
  padding-right: 20px;
  color: #ccc;
  font-size: 12px;
}


.post-message{
  padding-left: 50px;
  color:#666;
}

.post-message img{
  max-width:950px;
}



.reply-box{
  margin-top: 20px;
}

.submit-btn{
  float: right;
  margin-right: 20px;
  padding: 2px 30px;
  background: #ff9d00;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

.submit-btn:hover{
  background: #ff8a00;
  color: #FFF;
  text-decoration: none;
}

.post-ta{
  cursor: pointer;
}

.post-post{
  margin-left: 50px;
  border: 1px #d9d9d9 solid;
  background-color: #fafafa;
  border-radius: 2px;
  font-size: 12px;
  color: #666;
}

.post-post.hidden{
  display: none;
}

.post-post.active{
  display: block;
}

.post-post>ul{
  padding:10px;
}

.post-post .puser{
  float: left;
  margin: 8px 0;
  color: #6E8BA6;
}

.post-post .puser .uname{
  display: inline-block;
  max-width: 6em;
  overflow: hidden;
  text-overflow:ellipsis;
  vertical-align: text-bottom;
  white-space: nowrap;
}
.post-post .pmessage{
  float: left;
  color: #666;
  max-width: 590px;
}

.post-post .pmessage p{
  margin: 8px 0;
}


.post-editor{
  display: none;
  padding: 0 10px 10px 10px;
}

.post-editor-container{
  position: relative;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}

.post-editor-container .edui-container{
  box-shadow: none;
  border: none;
}

.post-editor-container .edui-default .edui-editor-toolbarbox{
  position: absolute;
  bottom: -38px;
  left: 0px;
  border: none;
  box-shadow: none;
}

.post-editor-container .edui-default .edui-editor-toolbarboxouter{
  border:none;
  background:none;
  box-shadow: none;
}

.post-editor-container .edui-default .edui-editor-toolbarbox .edui-for-emotion .edui-icon{
  background: url("img/icon-ppost-face.png") no-repeat 50% 0;
}




.post-editor-container .edui-editor-body .edui-body-container{
  font-size: 12px;
  color:#333;
}


.post-editor-bottom{
  margin-top: 10px;
}

.post-editor-bottom .left-box{
  float: left;
}

.post-editor-bottom .right-box{
  float: right;
}

.icon-ppost{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  vertical-align: -3px;
  background: url("img/icon-ppost.png") no-repeat 50% 50%;
}

.ppost-btn{
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
  background-color:#6E8BA6;
}
.ppost-btn:hover{
  background-color:#2D8DBB;
}

.icon-ppost-face{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -3px;
  background: url("img/icon-ppost-face.png") no-repeat 50% 0;
}

.icon-ppost-face:hover{
  background: url("img/icon-ppost-face.png") no-repeat 50% -20px;
}

.post-user-tip{
  position: absolute;
  left: 10px;
  top: 0;
  height: 28px;
  line-height: 28px;
  z-index: 1000;
}

.ppost-ta{
  margin-top: 5px;
  margin-left: 5px;
}

.ppost-date{
  display: inline-block;
  padding-left: 5px;
  height: 32px;
  line-height: 32px;
  color: #ccc;
}

.topic-edit-btn{

}



.page-bar{
  text-align: center;
}

.page-bar li{
  display: inline-block;
  position: relative;
  padding-top: 16px;
}

.page-bar a{
  display: inline-block;
  line-height: 28px;
  min-width: 28px;
  color: #333;
  border: 1px solid #dfdfdf;
  text-decoration: none;
}

.page-bar a:hover{
  border-color: #ff8b3d;
  background: #ff8b3d;
  color: #fff;
}

.page-bar .selected a{
  border-color: #ff8b3d;
  background: #FFF;
  color: #ff8b3d;
}

.page-bar .first a,.page-bar .last a,.page-bar .pre a,.page-bar .next a{
  padding: 0px 10px;
}

.page-bar .disable a{
  border: 1px solid #dfdfdf;
  background: #efefef;
  color: #333;
}